{% extends 'base.html' %}

{% block titulo %}
    <title>  Lista Mecanicos</title>
{% endblock %}

 
{% block content %}
<center>
    <div class="titulo"><span class="titulospan">Lista de mecanicos</span> </div></center>

    
   
    {% for p in mecanico %}

    <p>
      
                            <center> <div class="contenedor">
                                
                               <center> 
                                <div class="propiedades">
                    
                                 <div class="nombre">{{ p.nombre }} {{p.apellido}}</div>
                                
                                </div>
                            </center>
                    
                            
                        <center> <div class="foto" >
                                <img class="imagen" src="/media/{{p.foto}}" >
                            </div></center>
                           
                            <center>
                                {% if user.is_authenticated %}
                                    <div class="acciones">
                            <a class="btn btn-primary" href="/ver_mecanico/{{p.id}}"> ver detalle</a>
                            <a class="btn btn-warning" href="/editar_mecanico/{{p.id}}"> editar</a>
                            <a class="btn btn-danger" href="/eliminar_mecanico/{{p.id}}"> eliminar</a>
                    
                            
                        </div>

                        {% else %}


                        <div class="acciones">
                                <a class="btn btn-primary" href="/ver_mecanico/{{p.id}}"> ver detalle</a>
                                
                                
                            </div>

                            {% endif %}

                    </center>
                    
                        </div></center>
                  
    
    </p>

    {% endfor %}
 {% endblock %}