.logosuperior{
width: 100px;
height: 20px;
margin-right: 50px;

}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 22px;
    color: #fff;
}
.acciones{

    margin-top: 5px;
    }


body{
        background-color: #9E9FA8;
        
     }




.contenedor{
    background-color:#2f2f2f; 
    width: 800px;
    height: 535px;
   
    
 
    
}
.contenedor2{
    background-color:black; 
    width: 500px;
    height: 300px;

    
}
.imagen2{
    width: 500px;
    height: 300px;

}
.imagensita{

    width: 200px;
    height: 200px;

}

}



.d-block.w-100{

    width: 100px;
        height:500px;
    }

h1{
    color: black;
    margin-bottom: 20px;
}

.nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}
.titulo{
    background-color:  #2f2f2f;
    margin-top: 1px;
    height: 55px;
    margin-bottom:1px ;
    border: 1px black solid;
 
}
.titulodos{

    background-color:  black;
    
    height: 40px;
    margin-bottom:1px ;
}
.titulospandos:hover{
    text-shadow: 2px 2px 20px grey, #fff 0 -1px 2px;
   
}

.titulospandos{
    color:white; 
    font-size: 25px;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    
}
.titulonormal:hover{
    text-shadow: 2px 2px 20px grey, #fff 0 -1px 2px;
   
}

.titulonormal{
    color:black; 
    font-size: 40px;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    
}

.detallespan{
    color:black; 
    font-size: 25px;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow:  black;
    line-height: 85%;
    
}
.detallespan:hover{
    text-shadow: 2px 2px 20px black, #fff 0 -1px 2px;
   
}


.detallescompletos{
    border: 1px black solid;
    background-color: #78787F;
}
.detallecompletosspan{
    color:black; 
    font-size: 25px;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow:  black;
    line-height: 150%;

    
    
    
}
.detallecompletosspan:hover{
    text-shadow: 2px 2px 20px black, #fff 0 -1px 2px;
   
}
.detalle{
    background-color:#59595E ; 
    
    border: 1px black  solid;
 
    
}


.imagen{
    width: 800px;
    height: 450px;

}
.titulospan:hover {
    text-shadow: 2px 2px 20px grey, #fff 0 -1px 2px;
   
    
  }
.form{
    background-color: black;
}
.navbar.navbar-expand-lg.navbar-dark{
    font-size: 20px;
    background-color: black;
}

.titulospan{
    color:white; 
    font-size: 40px;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    
}



.propiedades{
    background-color: black; 
    color:white;
}

.saludo{
    background-color: black;
}

.imagenpie{
margin-top: 10px;
    width: 200px;
    height: 30px;

}


.wrapper {

        background-color: black;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 230px 30%;
        color: white;
    }
.link{
    color: yellow;
}
.footer{
    
    border-top: #9E9FA8 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
    color: white;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 70px;
  }

  .from-control2{
    height: 40px;
   width:400px ;
   padding:15px 0px 15px 8px;
   border-radius:5px;
   background:#59595E;
   border:1px solid rgba(0,0,0,1);
   margin-bottom:1px;
   color:black;
   font-size: 30px;
   
 }  

 .from-control{
     height: 40px;
    width: 98%;
    padding:15px 0px 15px 8px;
    border-radius:5px;
    background:#59595E;
    border:1px solid rgba(0,0,0,1);
    margin-bottom:10px;
    color:black;
    font-size: 30px;
    line-height: 1%;
  }

  .from-control3 {
    height: 100px;
   width:400px ;
   padding:15px 0px 15px 8px;
   border-radius:5px;
   background:#59595E;
   border:1px solid rgba(0,0,0,1);
   margin-bottom:10px;
   color:black;
   font-size: 30px;
   line-height: 1%;
 }
  
 
/*    s*/

h1 {
    margin-top: 40px;
	color: black;
	text-align: center;
}

/*Estilos de la galeria*/

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 300px;
	height: 200px;
}

/*Estilos del modal*/

.modal {
	display: none;
}

.modal:target {
	
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagendos {
	width: 100%;
	height: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagendos a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}

.imagendos a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagendos img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}
.formulario{

  margin-left: 25%;
  margin-right: 25%;
}
